- attributes("title") = "Scalatra: a tiny, Sinatra-like web framework for Scala"
- attributes("headline") = "Welcome to Scalatra"
-@ val obj: Map[String, String]

!!!
html
  head
    title This is an app
    script(src="/assets/application.css")
  body
    p= obj.values.mkString(" ")